<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDR5iwFgVqQ4BrX-HfVCUW2gVtpBHjXwSA</string>
	<key>GCM_SENDER_ID</key>
	<string>128886034333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tabletalk.officegossip</string>
	<key>PROJECT_ID</key>
	<string>office-gossip</string>
	<key>STORAGE_BUCKET</key>
	<string>office-gossip.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128886034333:ios:2cbf908db42f240e10a974</string>
</dict>
</plist>